$primary-color: #6b30a9;
$primary-color-light: #a456cc;
$background-color: #e4e9f5;
$background-color-light: #bdebf0;
$input-border-color: #ffffff;
$font-color: rgb(234, 234, 234);
$transparent: rgba(#000000,0);
$input-background-color: #1b1729;
